
ion-card {
  padding: 15px;
}
.ionCard {
  //width: 33%;
  padding: 20px;

  ion-button {
    width: 100%;
  }
}

.searchUserBox {

  display: flex;
  margin-right: 24px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border: 1px solid #DDE8E8;
  padding: 10px 20px;


  .searchTypeBox {
    width: 20%;



    .searchType {
      display: flex;
      align-items: center;
      font-size: 16px;
      ion-icon {
        margin-left: 8px;
      }

    }


    .selectSearchType {
      display: none;
    }

    &:hover {
      cursor: pointer;
      .selectSearchType {
        display: block;
      }
    }

  }




  .input {
    //border: 1px solid #DDE8E8;
    border-radius: 4px;
    padding-left: 16px;
    --padding-start: 16px
  }


  .searchButton {
    width: 25px;
    height: 21px;
    margin-left: 10px;
  }

}