body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modalBody {
  width: 100%;
  height: calc(100% - 65px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  padding: 0 16px;
}