
ion-card {
  padding: 15px;
}

.ionCard {
  //width: 33%;
  padding: 20px;

  ion-button {
    width: 100%;
  }
}

.chatListItem {
  position: relative;
  height: 68px;
  padding-top: 18px;
  --border-style: none;
  --padding-start: 24px;
  justify-content: space-between;
  background: #fff;
  border-left: 2px solid #fff;

  .messageListAvatar {
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }

  .groupRoomAvatar {
    border-radius: 10px;
  }

  .messageBody {
    margin: 0;
    height: 48px;

    p {
      margin: 0;
    }

    .upText {
      height: 24px;
      font-style: normal;
      font-weight: 590;
      font-size: 14px;
      line-height: 24px;
      align-items: start;
      color: #0F1828;
      margin-bottom: 2px;
    }

    .downText {
      height: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      align-items: end;
      color: #424242;
    }

    .dateText {
      height: 24px;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      align-items: start;
      color: #BDBDBD;
      margin-bottom: 2px;
    }

    .unReadCount {
      align-items: end;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-left: 12px;

      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      color: #242424;
    }

    .unReadText {
      font-weight: 590;
      color: #242424;
    }
  }

  &:hover {
    cursor: pointer;
    border-color: #4b7ef7;

  }
}

.messageInput {
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  --padding-start: 16px;
  margin-right: 8px;
  margin-bottom: 20px;
}

.searchUserBox {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  margin-right: 24px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  border: 1px solid #DDE8E8;
  padding-right: 20px;


  .searchTypeBox {
    position: relative;
    border-right: 1px solid #DDE8E8;
    padding: 10px 20px;
    width: 20%;

    .searchType {
      display: flex;
      align-items: center;
      font-size: 16px;

      ion-icon {
        margin-left: 8px;
      }

    }

    .selectSearchType {
      display: none;
      position: absolute;
      left: 0;
      top: -93px;
      z-index: 99;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        text-align: center;
        width: 100px;
        height: 30px;
        //background: #fff;
        background-color: rgb(236, 235, 235);
        font-size: 16px;
        line-height: 30px;
      }

      li:hover {
        background-color: #fff;
      }
    }

    &:hover {
      cursor: pointer;

      .selectSearchType {
        display: block;
      }
    }
  }

  .input {
    //border: 1px solid #DDE8E8;
    border-radius: 4px;
    padding-left: 16px;
    --padding-start: 16px
  }


  .searchButton {
    cursor: pointer;
    color: #333;
    font-size: 24px;
  }

  .searchButton:hover {
    color: #000;
    font-size: 26px;

  }

}

.emptyUserText {
  //font-size: 24px
  position: relative;
  padding: 0 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;

  .bottom {
    font-size: 16px;
  }

  .bottom:hover {
    text-decoration: underline;
    cursor: pointer;

    .copyTopic {
      display: block;
    }
  }


  .copyTopic {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: calc(50% - 50px);
    transform: translateX(-50%);
    display: none;
  }

}
