.contactsPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 448px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  max-height: 670px;

  .getContactsListBtn {
    width: 60%;
    flex: 1;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
  }

  .emptyContactsText {
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #71717a;
  }
}

.chatListItem {
  position: relative;
  height: 68px;
  padding-top: 18px;
  --border-style: none;
  --padding-start: 24px;
  justify-content: space-between;
  background: #fff;
  border-left: 2px solid #fff;

  .messageListAvatar {
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }

  .groupRoomAvatar {
    border-radius: 10px;
  }

  .messageBody {
    margin: 0;
    height: 48px;

    p {
      margin: 0;
    }

    .upText {
      height: 24px;
      font-style: normal;
      font-weight: 590;
      font-size: 14px;
      line-height: 24px;
      align-items: start;
      color: #0f1828;
      margin-bottom: 2px;
    }

    .downText {
      height: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      align-items: end;
      color: #424242;
    }

    .dateText {
      height: 24px;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      align-items: start;
      color: #bdbdbd;
      margin-bottom: 2px;
    }

    .unReadCount {
      align-items: end;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-left: 12px;

      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      color: #242424;
    }

    .unReadText {
      font-weight: 590;
      color: #242424;
    }
  }

  &:hover {
    cursor: pointer;
    border-color: #4b7ef7;
  }
}

.messageInput {
  border: 1px solid #ccc;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  --padding-start: 16px;
  margin-right: 8px;
  margin-bottom: 20px;
}


.emptyUserText {
  //font-size: 24px
  position: relative;
  padding: 0 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;

  .bottom {
    font-size: 16px;
  }

  .bottom:hover {
    text-decoration: underline;
    cursor: pointer;

    .copyTopic {
      display: block;
    }
  }

  .copyTopic {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: calc(50% - 50px);
    transform: translateX(-50%);
    display: none;
  }
}
